<!DOCTYPE html>
<html>
<head>
    <title>EcoGeneral Loan Services | Agreement</title>
    <link rel="stylesheet" href="static/js/jquery-ui/jquery-ui.css">
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap-theme.css">
    <link rel="stylesheet" href="static/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/more_loan.css">
    <link rel="stylesheet" type="text/css" href="static/css/font-awesome/css/font-awesome.css">
    <script src="static/js/modernizr.js"></script>
    <script src="static/js/angular.min.js"></script>
</head>
<body>
<div class="main_body">
    <div class="first_section">
        <div class="header">
        </div>
        <div class="logo_wrap clearfix">
            <div class="logo_content_div">
                <h1>
                    Welcome to your control panel.
                </h1>
            </div>
        </div>
    </div>
    <div class="second_section clearfix">
        <div class="first_section">
            <h2>Please note that outdated information will affect your application</h2>
            <div class="left_content clearfix">
                <div class="tool">
                    <div class="labe">
                        How much money do you need?
                    </div>
                    <div class="main_tooltip">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="minus" style="width:30px">
                                    <a href="" style="font-size:20px; float:left; padding-right:7px;">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="slide" style="width:495px">
                                    <span>NGN1,000.00</span><span style="float:right;">NGN5,000.00</span>
                                    <div id="slider"></div>
                                </td>
                                <td class="plus" style="width:30px; float:right; padding-left:13px;">
                                    <a href="" style="font-size:20px;">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="left_content clearfix">
                <div class="tool">
                    <div class="labe">
                        How much money do you need?
                    </div>
                    <div class="main_tooltip">
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                            <tr>
                                <td class="minus" style="width:30px">
                                    <a href="" style="font-size:20px; float:left; padding-right:7px;">
                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td class="slide" style="width:495px">
                                    <span>NGN1,000.00</span><span style="float:right;">NGN5,000.00</span>
                                    <div id="slide"></div>
                                </td>
                                <td class="plus" style="width:30px; float:right; padding-left:13px;">
                                    <a href="" style="font-size:20px;">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="right_content clearfix">
                <div class="slide_values" style="margin-top:0px;">
                    <div class="main_value">
                        NGN6,000:00
                    </div>
                    <div class="value_name">
                        Total Borrowing
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-cart-plus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="right_content clearfix">
                <div class="slide_values" style="margin-top:0px; background:#15A7DF;">
                    <div class="main_value">
                        NGN6,000:00
                    </div>
                    <div class="value_name">
                        Interest And Fees
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-server" aria-hidden="true"></i>
                </div>
            </div>
            <div class="right_content clearfix">
                <div class="slide_values" style="margin-top:0px;">
                    <div class="main_value">
                        NGN5,000:00
                    </div>
                    <div class="value_name">
                        Total Repayable
                    </div>
                </div>
                <div class="icon">
                    <i class="fa fa-reply-all" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <h2>
            Your next salary date is on the <span style="color: #272968; font-weight: 600;">18th.</span> therefore your repayment date for the loan is on <span style="color: #272968; font-weight: 600;">Friday 23th of September 2020. the minimum time is 5 days and the maximum is 40days</span>
        </h2>
        <h2>
            <span style="color: #272968; font-weight: 600;">Get More Cash</span> <br>
            <b>Current loan amounts</b> <br>
            You have applied previously for a <span style="color: #272968; font-weight: 600;">2,000:00</span> loan and you now qualify for up to <span style="color: #272968; font-weight: 600;">3,000:00</span> so go ahead and apply below <br>
            <b>Current account details</b> <br>
            Should either your email address or your mobile number have changed recently. Please update it below. Account information is important in order to complete your application.
        </h2>
        <div class="update_form">
            <h2 style="color: #272968; font-weight: 600;">Update your details below</h2>
            <table>
                <tr>
                    <th>Email</th>
                    <th>Mobile</th>
                </tr>
                <tr>
                    <td><input type="email" name="lastname" placeholder="info@ecogeneral.com"></td>
                    <td><input type="text" name="lastname" placeholder="08097678543"></td>
                </tr>
            </table>
            <h2 style="color: #272968; font-weight: 600;">Your one time pin</h2>
            <table>
                <tr>
                    <th>Pin sent to your mobile number</th>
                    <th></th>
                </tr>
                <tr>
                    <td><textarea></textarea></td>
                    <td>
                        <a href="">Did not get your OTP?</a>
                    </td>
                </tr>
            </table>
            <button>
                Get More Cash
            </button>
        </div>
    </div>
    <footer>
        <div class="footer">
            <div class="section_one">
                <div class="content">
                    <ul>
                        <li><a href="{{ path_for('index') }}">Home</a></li>
                        <li><a href="{{ path_for('about') }}">Aboutus</a></li>
                        <li><a href="{{ path_for('faq') }}">Faqs</a></li>
                        <li><a href="" data-toggle="modal" data-target="#myModal">Contactus</a></li>
                        <li><a href="">Policy Privacy</a></li>
                        <li><a href="">Terms and Conditions</a></li>
                        <li><a href="{{ path_for('client') }}">Clients Zone</a></li>
                    </ul>
                </div>
            </div>
            <div class="section_two">
                <div class="footer_sub">
                    <strong>Fast Loans</strong>
                    <span><a href="{{ path_for('fast') }}">fast loans</a></span>
                    <span><a href="{{ path_for('payday') }}">payday loans</a></span>
                </div>
                <div class="footer_sub">
                    <strong>Cash Loans</strong>
                    <span><a href="{{ path_for('easy') }}">easy loans</a></span>
                    <span><a href="{{ path_for('short') }}">short terms loan</a></span>
                </div>
                <div class="footer_sub">
                    <strong>Personal Loans</strong>
                    <span><a href="{{ path_for('what') }}">what is a loan</a></span>
                    <span><a href="{{ path_for('online_loan') }}">online loan</a></span>
                </div>
            </div>
            <div class="section_three">
                <div class="content">
                    <span>Copyright &copy; Eco General 2016, <a href="http://www.effluxcompany.com/" target="_blank">powered by Efflux</a></span>
                </div>
            </div>
        </div>
    </footer>
</div>



<script src="js/jquery.js"></script>
<script src="js/jquery-ui/jquery-ui.js"></script>
<script src="css/bootstrap/js/bootstrap.min.js"></script>
</body>





<script>
    $( function() {
        $( "#slider" ).slider();
    });

    $( function() {
        $( "#slide" ).slider();
    });
</script>
</html>